<footer class="global-footer">
	<section>
		<div class="section typeset">
			<div class="column">
				<h6>contact</h6>
				<ul>
					<li><a href="https://github.com/RamonGebben">@RamonGebben</a> / <a href="https://github.com/GeorgeSapkin">@GeorgeSapkin</a> / <a href="https://github.com/toddmerrill">@toddmerrill</a> / <a href="https://github.com/AnneKlapwijk">@AnneKlapwijk</a></li>
					<li><a href="https://www.meetup.com/NodeSchoolUtreg/">https://www.meetup.com/NodeSchoolUtreg</a></li>
					<li><a href="https://twitter.com/NodeSchoolUtreg">https://twitter.com/NodeSchoolUtreg</a></li>
				</ul>
			</div>
		</div>
	</section>
</footer>
